#####################################################################
#   Extruder
#####################################################################

#   Connected to MOTOR_5
#   Heater - BED_OUT
#   Thermistor - T0
[extruder]
step_pin: ebb36:PD0
dir_pin: ebb36:PD1
enable_pin: !ebb36:PD2
rotation_distance: 22.6789511
gear_ratio: 50:10               #BMG Gear Ratio
microsteps: 32
full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
max_extrude_cross_section: 5
max_extrude_only_distance: 500
nozzle_diameter: 0.500
filament_diameter: 1.75
heater_pin: ebb36:PB13
sensor_type: PT1000
sensor_pin: ebb36:PA3
min_temp: 0
max_temp: 310
max_power: 1.0
min_extrude_temp: 170

##  E0 on MOTOR5
##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 extruder]
uart_pin: ebb36:PA15
run_current: 0.650
stealthchop_threshold: 999999
